*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.curly-font{
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: var(--font-weight, 400); 
    font-style: normal;
}

.nunito-normal {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight, 400);
    font-style: normal;
  }
  

.heading{
    font-family: "Playwrite AU SA", cursive;
    font-size: 35px;
    --font-weight: 600;

    text-align: center;
    /* color: #ffffff;
     */

    background:  linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #c7b835);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 30px;
    
}

body{
    background-image: url('assets/g8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Nunito", sans-serif;
}

.input-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row-block,
.column-block{
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input-btns label{
    /* display: inline-block; */
    width: 50%;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    /* padding-left: 90px; */ 
}

.box{
    /* text-align: center; */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #ccc;
    font-size: 20px;
    font-weight: 900; */
}

.box-num{
    color: #000;
    font-size: 20px;
    font-weight: 900;
}

.container-modal{
    background-color: #dddd;
    width: 850px;
    height: max-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 80px 0;
}

.grid-body{
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 1050px;
    width: 65%;   
    max-height: 750px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius:12px ;
    padding: 70px;
    overflow: auto;
}

.grid-container{
    max-width:  100%;
    max-height: 100%;
    height: 100%;
    overflow: auto;
}


.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.all-btns{
    background-color: #dddd;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
    border-radius: 8px;
}


.coloring-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    width: calc(35vw - 20px);
    /* max-width: 300px;
    width: 100%; */
    /* margin-bottom: 35px; */
}

.identifier{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.input-btns{
    display: flex;
    gap: 10px;
}

input{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    max-width: 90px;
    padding: 10px 8px;
    border-radius: 12px;
    outline: none;
    border: 1px solid transparent;
    width: inherit;
}

.main-content{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 5px 40px;
}

.control-btns{
    display: flex;
    gap: 10px;

}

.main-content .input-btns{
    width: 100%;
    height: 100%;
}
.input-btns label{
    width: 50%;
}


#submit,
#simpleColorBtn,
#resetBtn,
#clearBtn{
    padding: 12px 8px;
    width: 90px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #FDFAF6;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;
}

#submit{
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #c7b835);
    border: none;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

#submit:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#clearBtn{
    display: none;
}

#colorSelected{
    height: 43px;
}

/* @media screen and (max-width:1385px){

    .grid-body{
        max-width: 900px;
    }
}


@media screen and (max-width:1250px){

    .grid-body{
        max-width: 800px;
    }
}

@media screen and (max-width:1125px){

    .grid-body{
        max-width: 750px;
    }


} */

@media screen and (max-width:970px){

    .container-modal{
        width: 650px;
    }

    .heading {
        font-size: 28px;
    }
}

@media screen and (max-width:768px){

    .container-modal{
        width: 450px;
        padding: 60px 0;
    }

    .heading {
        font-size: 26px;
    }

    .input-btns label{
        font-size: 20px;
    }

    .row-block,
    .column-block{
        justify-content: space-between;
        padding: 0 30px;
        /* gap: 60px; */
    }

    .main-content{
        flex-direction: column;
    }

    .grid-body{
        width: 100%;
    }

    .coloring-block{
        width: 60%;
    }

    .identifier{
        justify-content: space-between;
    }


    #colorSelected{
        width: inherit;
    }
}


@media screen and (max-width:520px){

    .container-modal{
        width: 350px;
        padding: 60px 0;
    }

    .heading {
        font-size: 20px;
    }

    /* .input-btns label{
        font-size: 14px;
    } */

    .row-block,
    .column-block{
        justify-content: space-between;
        padding: 0 30px;
        /* gap: 60px; */
    }

    .coloring-block{
        width: 100%;
    }
}

@media screen and (max-width:470px){
    .input-btns label {
        font-size: 14px;
    }
}